[submodule "NetSerializer/NetSerializer"]
	path = NetSerializer/NetSerializer
	url = https://github.com/CodeElements/netserializer
[submodule "ZeroFormatter/ZeroFormatter"]
	path = ZeroFormatter/ZeroFormatter
	url = https://github.com/CodeElements/ZeroFormatter
